<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highscores</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/my_styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
</head>
<body>

    {% include "menu.html" %}

    <h1>Highscores go here (Under construction)</h1>

    {% for each_score in scores %}
        <div class="d-flex">
            <p class="usernames">{{ each_score.username }}</p>
            <p class="scores">{{ each_score.score }}</p>
        </div>
    {% endfor %}

<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>