<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highscores</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/my_styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
</head>
<body class="d-flex flex-column">

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">JL Games</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Highscores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

<p>vbhbvjbhj  jafj;askdlfjas;l kdfjas;lkd</p>
<p>Welcome to our magnificent server! a={{ a }}</p>
<p>Today's chosen student is: {{ name }}</p>
<img src="/static/pic1.jpg">
{% for each_score in scores %}
    <p>{{ each_score.username }}</p>
    <p>{{ each_score.score }}</p>
{% endfor %}
<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>