<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highscores</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/my_styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
</head>
<body>
<p>vbhbvjbhj  jafj;askdlfjas;l kdfjas;lkd</p>
<p>Welcome to our magnificent server! a={{ a }}</p>
<p>Today's chosen student is: {{ name }}</p>
<img src="/static/pic1.jpg">
{% for each_score in scores %}
    <p>{{ each_score.username }}</p>
    <p>{{ each_score.score }}</p>
{% endfor %}
<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>