<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Highscores</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/my_styles.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
</head>
<body>

    {% include "menu.html" %}

    <div class="container">
        <h1>News</h1>

        {% for each_news in news %}
            <div class="news_item">
                <h2>{{ each_news.title }}</h2>
                <p>{{ each_news.content }}</p>
            </div>
        {% endfor %}

        <a class="btn btn-primary"
           role="button"
           href="/new_news">Create news</a>
    </div>

<script src="/static/js/bootstrap.bundle.js"></script>
</body>
</html>